<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">

     <listeners>
          <listener class-name="utils.ExtentReportUtility"/>
     </listeners>

    <test name="Test">
    <parameter name="os" value="Windows"/>
    <parameter name="browser" value="chrome"/>
  
    <classes>
      
      <class name="tests.TS_001_SignUpTest"/>
      <class name="tests.TS_002_LoginTest"/>
      <class name="tests.TS_003_ContactAdditionTest"/> 
      <class name="tests.TS_004_ContactDisplayTest"/>
      <class name="tests.TS_005_ContactEditingTest"/>
      <class name="tests.TS_006_ContactDeletionTest"/>
      <class name="tests.TS_007_LogoutTest"/>
           
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
